{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "never"
    }]
  }
}